@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Welcome to the BudgetApp!</h1>

<h3>
    The BudgetApp is a free service to help users organize their finances.  Once the user has an understanding of where their money comes in and goes out, he or she will better be able
    to plan for savings and debt payoff.  Living debt free has changed my life, and I want to help others to enjoy the same freedom.  Through organization, planning, and dedication anyone can
    be debt free!
</h3>

<h3>First, use the <span><a asp-controller="Income" asp-action="Index">Income</a></span> and <span><a asp-controller="Expense" asp-action="Index">Expense</a></span> features of the app to help you get organized.</h3>

<h3>
    Once you understand your current financial footprint, start dreaming about your financial future.  What is it that you want to do in the future?  Go on vacation, buy a house, save for college,
    start a business, whatever your interests are, enter a finanical goal for each using the <span><a asp-controller="Saving" asp-action="Index">Saving</a></span> feature.  Even if it feels unreachable, with proper planning and debt manangement you will
    be able to reach these goals!
</h3>

<h3>
    Next step is to decide how to tackle paying off current debt.  On the <span><a asp-controller="GoFromHere" asp-action="Index">Where Do I Go From Here?</a></span> feature you can learn about different debt payoff strategies.  Read about each
    and decided which will work best for your situation.  The strategy you choose may change over time, that's ok, just keep attacking the debt!  It may seem like a massave giant in your way today,
    but soon you will be able to look back and see how far you have progressed.
</h3>

<h3>
    Please feel free to <a href="mailto:contact@budgetapp.com">contact me</a> with your sucess stories!  If there is anything that you wish this app provided that it doesn't, let me know.  I want to make this the easiest and
    most helpful way to guide users to success!
</h3>