@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Where Do I Go From Here?</h1>

<h3>
    Congratulations!  You have taken the first steps to becoming debt free.  Getting organized is a big step.  Having a plan will get you to your goal...
    even if you adjust it, (and you should!), along the way.  Take a look at the three debt payoff options.  Read through them and decide which one best
    makes sense for your current financial status.  Regardless of the option that you select, you will always need to make at least the minimum payments
    on all of your debts each month.
</h3>
<h3>You are on your way!</h3>


    <table class="table">
        <tr>
            <th>
                <span><a asp-controller="GoFromHere" asp-action="Snowball">Snowball Method</a></span>
            </th>
            <th>
                <span><a asp-controller="GoFromHere" asp-action="Avalanche">Avalanche Method</a></span>
            </th>
            <th>
                <span><a asp-controller="GoFromHere" asp-action="Hybrid">Snowball/Avalanche Hybrid Method</a></span>
            </th>
        </tr>
    </table>


 
